<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="side-menu">
        <div class="img-case">
            <img src="/static/images/user-profile.png" alt="">  
        </div>
        <br>
        <p>Logged in:<b>{{session.username}}</b></p>
        <br>
        <ul>
            <li><i class='bx bx-calendar'></i><a href="{{url_for('admin_dashboard')}}">&nbsp;Dashboard</a></li>
            <li class="active"><i class='bx bx-plus-medical'></i>&nbsp;Doctors</li>
            <li><i class='bx bx-alarm'></i>&nbsp;Schedule</li>
            <li><i class='bx bx-calendar-edit'></i>&nbsp;Appointment</li>
            <li><i class='bx bx-message'></i>&nbsp;Feedback</li>
            <li><i class='bx bx-accessibility'></i>&nbsp;Patients</li>
            <li><i class='bx bx-log-out'></i>&nbsp;Logout</li>
        </ul>
    </div>
    <div class="a-container">
        <div class="a-header">
            <div class="a-nav">
                <div class="a-search">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><img src="/static/images/search.jpg" alt=""></button>
                </div>
                <div id="date-time">
                    <p id="date"></p>
                    <p id="time"></p>
                </div>&nbsp;&nbsp;&nbsp;
                <img src="/static/images/notification.png" alt="">
                
            </div>
            
        </div>
        <div class="a-content">
            <table cellspacing="50" class="listofdoctors">
                <tr>
                    <td>
                        <h1>Add New Doctor</h1>
                    </td>
                    <td class="button-space">
                        <button id="showaddNewDoctor">
                            <a href="{{ url_for('addNew_doctor')}}">+ Add New</a>
                        </button>
                        <div id="doctorFormContainer"></div>
                    </td>
                </tr>
            </table>
            <h3 style="color: #999;padding-left: 50px;">All Doctors</h3>
            <table cellspacing="60">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Specialities</th>
                        <th>Password</th>
                        <th>Events</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in doctor %}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.contact}}</td>
                        <td>{{user.specialities}}</td>
                        <td>{{user.password}}</td>
                       
                        <td><a href="{{url_for('view_doctor', doctorid=user.doctorid)}}" class="btn btn-success">View</a></td>
                        <td><a href="{{url_for('edit_doctor', doctorid=user.doctorid)}}" class="btn btn-primary">Edit</a></td>
                        <td><a href="{{url_for('password_change', userid=user.userid)}}" class="btn btn-warning">Change Password</a></td>
                        <td><a href="{{url_for('delete_doctor', doctorid=user.doctorid)}}" class="btn btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
            
            
           

        </div>
       

       
    </div>
    
  

    <script src="/static/js/script.js"></script>
    </body>
</html>
