<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic Online Booking</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/clinic-logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <style>
    body {
        background: url('/static/images/stethoscope0.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    </style>
  
</head>
   
<body>
    <div class="header-text">
        <h1>Welcome to Jeppe Clinic</h1><br>
        <h2>Online Booking System</h2><br>
        <p>Conveniently schedule your visit with us online.</p><br>
        <a href="{{ url_for('loginroles.login') }}" class="cta-button">Book Now</a>
    </div>
</body>
</html>