<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinic Online Booking</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/clinic-logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <style>
        body {
            background-image: url('/app/static/images/backgoundclinic.avif');  /* URL to your background image */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        /* Add your other CSS styles here */
    </style>
  
</head>
   
<body>
    <div class="header-text">
        <h1>Welcome to Jeppe Clinic</h1><br>
        <h2>Online Booking System</h2><br>
        <p>Conveniently schedule your visit with us online.</p><br>
        <button><a href="{{ url_for('loginroles')}}">Now</a></button>

    </div>
</body>
</html>