<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Roles</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">

</head>
<body class="loginroles-background">
    <div class="container mt-5">
        <a href="#" onclick="goBack()">
            <img class="back-button" src="/static/images/back.png" alt="Back">
           
        </a>
      </div>
    <table  cellspacing="180" class="loginroles-table">
        <tr>
            <td>
                <a href="{{ url_for('admin.AdminLogin') }}">
                    <img src="/static/images/Admin.png" alt="admin" width="100" height="100">
                    <p style="padding-left: 20px;color: #068fbc;">Admin</p>
                </a>
               
            </td>

            <td>
                <a href="{{ url_for('PatientLogin')}}">
                    <img src="/static/images/patient.png" alt="patient" width="100" height="100">
                    <p style="padding-left: 20px;color: #068fbc;">Patient</p>
                </a>
               
            </td>

            <td>
                <a href="{{ url_for('doctor.DoctorLogin') }}">
                    <img src="/static/images/Doctor.png" alt="doctor" width="100" height="100">
                    <p style="padding-left: 20px;color: #068fbc;">Doctor</p>
                </a>
               
            </td>
        </tr>
    </table>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    
</body>
</html>