<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Roles</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/clinic-logo.png')}}">

</head>
<body>
    <div class="container mt-5">
        <a href="#" onclick="goBack()">
            <img class="back-button" src="/static/images/backarrow.png" alt="Back">
        </a>
    </div>
    <h2 style="margin-top: 30px; color: #3f51b5; text-align: center;">Select Your Role</h2>
    <div class="loginroles-wrapper container">
    <div class="role-box">
        <a href="{{ url_for('admin.AdminLogin') }}">
            <img src="/static/images/Admin.png" alt="admin">
            <p>Admin</p>
        </a>
    </div>
    <div class="role-box">
        <a href="{{ url_for('patient.PatientLogin') }}">
            <img src="/static/images/patient.png" alt="patient">
            <p>Patient</p>
        </a>
    </div>
    <div class="role-box">
        <a href="{{ url_for('doctor.DoctorLogin') }}">
            <img src="/static/images/doctor-profile.png" alt="doctor">
            <p>Doctor</p>
        </a>
    </div>
</div>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
    
</body>
</html>