<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="row">
            Logged in : {{session.firstname}} {{session.lastname}}|<a href="">Logout</a>
        </div>
        <br><br><br>
       <!-- <nav class="navbar-patientdashboard">
            <a href="{{ url_for('patientinfo')}}">Personal Information</a>
            <a href="#">Book Appointment</a>
            <a href="#">View Bookings</a>
            <a href="#">Cancel Booking</a>
            <a href="#">Search Doctor</a>
            <a href="#">Feedback</a>
            
        </nav>-->

        <div class="navbar-patientdashboard">
            <a href="{{ url_for('patientinfo')}}">My Details</a>
            <a href="#">Book Appointment</a>
            <a href="#">View Bookings</a>
            <a href="#">Cancel Bookings</a>
            <a href="#">Search Doctor</a>
            <a href="#">Feedback</a>
          </div>
    </div>
    
</body>
</html>