<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <title>User Registration Form</title>
</head>
<body>
    <div class="container">
        {% include 'menus.html' %}
        <br>
        <h3>Add New User</h3>
        <br>
        <form action="{{ url_for('register') }}" method="post">
            {% if message is defined and message %}
            <div class="alert alert-warning"{{ message }}></div>
            {% endif %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <select name="role" id="role" class="form-control">
                    <option>Admin</option>
                    <option>User</option>
                </select>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" class="form-control" id="country" name="country">
            </div>

            <button type="submit" class="btn">Register</button><br><br>

            <p class="bottom">Already have an account?
                <a href="{{url_for('login')}}" class="bottom">Login here</a>
            </p>
        </form>
    </div>
    
</body>
</html>