<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of patients</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="side-menu">
        <div class="img-case">
            <img src="/static/images/user-profile.png" alt="">  
        </div>
        <br>
        <p>Logged in:<b>{{session.username}}</b></p>
        <br>
        <ul>
            <li><i class='bx bx-calendar'></i><a href="{{url_for('admin_dashboard')}}">&nbsp;Dashboard</a></li>
            <li><i class='bx bx-plus-medical'></i>&nbsp;Doctors</li>
            <li><i class='bx bx-alarm'></i>&nbsp;Schedule</li>
            <li><i class='bx bx-calendar-edit'></i>&nbsp;Appointment</li>
            <li><i class='bx bx-message'></i>&nbsp;Feedback</li>
            <li class="active"><i class='bx bx-accessibility'></i>&nbsp;Patients</li>
            <li><i class='bx bx-log-out'></i>&nbsp;Logout</li>
        </ul>
    </div>
    <div class="a-container">
        <div class="a-header">
            <div class="a-nav">
                <div class="a-search">
                    <input type="text" placeholder="Search...">
                    <button type="submit"><img src="/static/images/search.jpg" alt=""></button>
                </div>
                <div id="date-time">
                    <p id="date"></p>
                    <p id="time"></p>
                </div>&nbsp;&nbsp;&nbsp;
                <img src="/static/images/notification.png" alt="">
                
            </div>
            
        </div>
        </div>
</body>
</html>